body {
        background-color: black;
        color: white;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
    text-align: center;
}
img {
    width: 500px;
    height: auto;
}
button {font-size: 25px;}
#description {
    background-color: yellow;
}